/.cache
/node_modules
/scripts/release/node_modules
*.log
/errors
/test*.*
/.vscode
/dist
/website/node_modules
/website/build
/website/i18n
/website/static/playground.js
/website/static/lib
.DS_Store
/coverage
.idea
package-lock.json
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.nyc_output
/scripts/tools/eslint-plugin-prettier-internal-rules/node_modules
.devcontainer

# Project exclude paths
/tests/format/misc/parser-inference/test.js
/tests/integration/cli/config/external-config/node_modules/
/tests/integration/cli/config/no-config/file.js
/tests/integration/cli/config/package/file.js
/tests/integration/plugins/automatic/node_modules/